body {
	background-color:#00676B;
	background: linear-gradient(top, #CAE5E8 0%, #00676B 100%);
	background:-o-linear-gradient(top, #CAE5E8 #00676B);
	background:-moz-linear-gradient(top, #CAE5E8, #00676B);
	background:-webkit-gradient(linear, left top, left bottom, from(#CAE5E8), to(#00676B));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr ='#CAE5E8', endColorstr ='#00676B');
	background: -ms-linear-gradient(top, #CAE5E8, #00676B);
	background-attachment: fixed;
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: Sans Serif, Arial Western, Verdana;
	font-size: small;
        text-align: center;
        align: center;
}
table {
	border: 0px;
        width: 60%;
	align: center;
        text-align: center;
	padding: 0px;
	vertical-align: middle;
	border-spacing: 0px;
        box-shadow: 15px 15px 15px #666666;
	-moz-box-shadow: 15px 15px 15px #666666;
	-webkit-box-shadow: 15px 15px 15px #666666;
}
tr {
        height: 40px;
}
th {
        background-color: #C8E2B1;
        height: 50px;
}
.trh1 {
        background-color: #CAE5E8;
}
.trh1:hover {
        background-color: #E6F1D8;
}
.trh2 {
        background-color: #99D1D3;
}
.trh2:hover {
        background-color: #E6F1D8;
}
h1 {
        margin: 25px;
        font-family: Arial Western, Verdana;
        text-shadow: 5px 3px 3px #999999;
  	font-size: 20pt;
        font-weight: bold;
  	color: #DC143C;
  	border: 0px;
        background-color: #7FFFD4;
}
h6 {
        font-size: 10pt;
        font-weight: normal;
        text-shadow: 1px 1px 1px #999999;
        color: #000000;
        margin: 20px;
}
.bogoc {
        background-color: #ECECEC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #666666;
	-moz-box-shadow: 10px 10px 10px #666666;
	-webkit-box-shadow: 10px 10px 10px #666666;	
}
.shadow {
	border: 1px solid #00676B;
	box-shadow: 10px 10px 10px #666666;
	-moz-box-shadow: 10px 10px 10px #666666;
	-webkit-box-shadow: 10px 10px 10px #666666;	
}
a {
	background-color: #293F5E;
	color: #FFFFFF;
	padding: 4px 35px 4px 35px;
	text-align: center;
	margin: 0px;
	font-family: Arial Western, sans-serif;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        border-color:black;
        border-top:2px solid;
        border-bottom:2px solid;
        border-right:2px solid;
        border-left:2px solid;
}
a:link {
        background-color: #293F5E;
	color: #FFFFFF;
}
a:visited {
        background-color: #293F5E;
	color: #FFFFFF;
}
a:hover {
        background-color: red;
	color: #FFFFFF;
}
a:active {
        background-color: red;
	color: #FFFFFF;
}